<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873192726683-p14ve13r0f0uuooqjq2aki94ntm71ab4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873192726683-p14ve13r0f0uuooqjq2aki94ntm71ab4</string>
	<key>API_KEY</key>
	<string>AIzaSyAuvNIMK7UUYYe9loJ4XW3HKqS6w__no5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>873192726683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.semesterproject</string>
	<key>PROJECT_ID</key>
	<string>semester-project-f7216</string>
	<key>STORAGE_BUCKET</key>
	<string>semester-project-f7216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873192726683:ios:91648690ea82b22e5a663e</string>
</dict>
</plist>