<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698538807790-qbcm3qc95k65qfgtpevjerrairksut3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698538807790-qbcm3qc95k65qfgtpevjerrairksut3f</string>
	<key>API_KEY</key>
	<string>AIzaSyBXFUf5RmWD_rZs0s_7_ucFm-BzWT6T1pA</string>
	<key>GCM_SENDER_ID</key>
	<string>698538807790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUi</string>
	<key>PROJECT_ID</key>
	<string>semesterproject-11249</string>
	<key>STORAGE_BUCKET</key>
	<string>semesterproject-11249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698538807790:ios:9fdcf37e713b2cdfde3eff</string>
</dict>
</plist>